<!DOCTYPE html>
<html>
    <head>
        <title>
            Node and Express Tutorial
        </title>
    </head>
    <body>
        <header>
            <img src="/images/logo.png" alt="Tutorial Logo">
        </header>
        {{{body}}}
    </body>
</html>